 <html>
        <head>
            <title>EBABLOG</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django  Blog</a></h1>
            </div>

            <div>
                <p>published: 30.09.16, 17.39</p>
                <h2><a href="">My first post</a></h2>
                <p>///////////////////////////////.</p>
            </div>

            <div>
                <p></p>
                <h2><a href="">My second post</a></h2>
                <p>\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\</p>
            </div>
        </body>
    </html>
